@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
  background-color: #e8e8e8;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
